/* want to start off with a few niceties */
body {
	margin: 5em;
	background-color: #eee;
}

.hasFlex {
	display: flex;
}

.hasColumns {
	flex-direction: row;
}

.hasSpread {
	justify-content: space-between;
}

.hasFlex>section {
	padding-right: 5em;
	padding-bottom: 5em;
}

.hasFlex>section:last-child {
	padding-bottom: 0;
}

ul li>h5 {
	margin: 0;
}

@media screen and (max-width:750px) {
	body {
		margin: 2.5em;
	}

	body>section {
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		justify-content: center;
	}

	.hasFlex>section {
		align-self: center;
		padding-right: 0;
		height: 100vh;
	}

	.hasFlex {
		flex-direction: column;
		flex-wrap: wrap;
	}

	/* .hasFlex>section {
		display: flex;
		flex-direction: column;
	} */


	/* .hasFlex:first-child { flex-basis: 100%; } */
}