@import '../../public/loading.css';

:root {
  font-family: 'Courier New', Courier, monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #000;
  --border-size: 0.25em;
  --gap-size: 0.5em;
}

@font-face {
  font-family: 'bahnscrift';
  src: url('/public/BAHNSCHRIFT.TTF');
  font-weight: normal;
  font-style: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
textarea,
button,
form,
div,
a {
  color: var(--text-color);
  background-color: var(--background-color);
}

section,
button,
input,
select,
textarea {
  color: var(--text-color);
  border: var(--border-size) solid var(--primary-color);
}

.page>ul {
  padding: 0;
  margin: 0;
}

section {
  margin-bottom: var(--border-size);
  padding: var(--gap-size);
}

section:last-child {
  margin-bottom: 0;
}

.page {
  margin: 0 auto;
  padding: var(--border-size);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-size);
  max-width: 768px;
  width: 33%;
  border: 0;
}

ul>section>h1, ul>section>h4, form#form>label{
  margin: 0 calc(var(--gap-size) * 1.75);
  font-family: bahnscrift, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

section>ul {
  margin-top: calc(var(--gap-size) - var(--border-size));
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fefefe;
  }
}

@media screen and (max-width: 1920px) {
  .page {
    width: 66%;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --gap-size: 0.5em;
  }

  .page {
    max-width: unset;
    width: unset;
    padding: var(--gap-size);
  }

}