<!DOCTYPE html>
<html>

<head>
  <link rel="preload" href="loading.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="loading.css"></noscript>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Loading...</title>
</head>
<body>
  <div id="root"></div>
  <script type="module" src="/src/main.tsx"></script>
</body>