---
import AddonsList from "../components/AddonsList.astro";
import NavBar from "../components/NavBar.astro";
import "../styles/main.css";
---

<html>
  <head>
    <link rel="preload" href="/loading.css" as="style" />
    <noscript><link rel="stylesheet" href="/loading.css" /></noscript>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="look at my UI in wow!" />
    <meta property="og:image" content="/avatar.png" />
    <title>ui of kine</title>
  </head>
  <body>
    <AddonsList />
    <NavBar
      links={[
        { label: "Home", href: "/" },
        { label: "Addons", href: "/rueg-ui/" },
        { label: "Contact Me", href: "/contact" },
      ]}
    />
  </body>
</html>
